$primaryColor: #355c75;
$secondaryColor: #355c75;
$tritaryColor: #2F91E0;

$menuColor: #b85301;

$defaultFont: 'Catamaran', sans-serif;

$thinWeight: 100;
$lightWeigt: 300;
$normalWeight: 500;
$heavyWeight: 700;